* {
    box-sizing: border-box;
}

div.centered {
    width: 960px;
    text-align: center;
}

body {
    font-family: "Lora", serif;
    font-size: 1em;
    width: 960px;
}

.save {
    width: 960px;
    border: 1px solid grey;
    margin: 5px;
    margin-bottom: 15px;
    background-color: white;
}

nav {
    width: 960px;
    margin: 5px;
    margin-bottom: 15px;
    background-color: white;
}

header {
    width: 960px;
}

footer {
    width: 960px;
    color: white;
    background-color: darkgreen;
    margin: 5px;
}

.show {
    width: 960px;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    display: block;
    width: 125px;
}

nav ul li a:hover {
    background-color: white;
    color: darkgreen;
}

h1 {
    color: darkgreen;
}

.icon {
    width: 30px;
    height: 30px;
}

.logo {
    background-color: white;
}

.info {
    margin: 5%;
}

#map {
    color: white;
}

img.production {
    margin: 1em 0 1em 0;
    float: right;
}

img.production-left-float {
    margin: 1em 1em 1em 0;
    float: left;
}

div.season {
    width: 960px;
    text-align: center;
    font-size: 2em;
}

div.playdates {
    width: 960px;
    text-align: center;
    font-size: 1.75em;
}

div.playtitle {
    width: 960px;
    text-align: center;
    font-size: 1.75em;
    color: darkgreen
}


div.playwright {
    width: 960px;
    text-align: center;
    font-size: 1.5em;
}

div.playdirector {
    width: 960px;
    text-align: center;
    font-size: 1.25em;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 30px;
}

div.synopsis {
    width: 480px;
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    margin: 10px 240px 10px 240px;
}

div.continue {
    width: 480px;
    text-align: center;
    font-size: 1.25em;
    font-style: oblique;
    margin: 10px 240px 10px 240px;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 62%;
}

.right {
    width: 38%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}